## 5-1 분석하기 좋은 데이터

: 데이터 집합을 분석하기 좋은 상태로 만들어 놓은 것

: 데이터 분석 단계에서 데이터 정리는 아주 중요

        

        깔끔한 데이터의 조건

        - 데이터 분석 목적에 맞는 데이터를 모아 새로운 표를 만들어야 함
        - 측정한 값은 행을 구성해야 함
        - 변수는 열로 구성해야 함


데이터 집합은 연관성이 깉은 값끼리 모여 있기 때문에 데이터 연결을 통해 필요한 데이터를 만드는 과정이 반드시 필요

## 5-2 데이터 연결 기초

### concat 메서드

: 연결하려는 데이터프레임을 리스트에 담아 전달하면 연결한 데이터프레임 반환

: 위에서 아래로 연결

: 한 번에 2개 이상의 데이터프레임을 연결할 수 있는 메서드

: 만약, 연결할 데이터프레임이 1개라면 append 메서드 사용가능



주의 : 데이터프레임과 시리즈를 연결하면 시리즈가 새로운 열로 추가됨 

→ 시리즈에는 열 이름이 없기 때문에 새로운 열로 간주함

→ 행 1개로 구성된 데이터 프레임 생성하여 연결시켜 주어야함

In [ ]:
import pandas as pd

from google.colab import drive # connect google drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df1 = pd.read_csv('/content/drive/MyDrive/My_GitHub/Python_ML/Doit_Pandas_dataset/concat_1.csv')
df2 = pd.read_csv('/content/drive/MyDrive/My_GitHub/Python_ML/Doit_Pandas_dataset/concat_2.csv')
df3 = pd.read_csv('/content/drive/MyDrive/My_GitHub/Python_ML/Doit_Pandas_dataset/concat_3.csv')

In [ ]:
row_concat = pd.concat([df1,df2,df3])
print(row_concat)

     A    B    C    D
0   a0   b0   c0   d0
1   a1   b1   c1   d1
2   a2   b2   c2   d2
3   a3   b3   c3   d3
0   a4   b4   c4   d4
1   a5   b5   c5   d5
2   a6   b6   c6   d6
3   a7   b7   c7   d7
0   a8   b8   c8   d8
1   a9   b9   c9   d9
2  a10  b10  c10  d10
3  a11  b11  c11  d11

In [ ]:
print(row_concat.iloc[3,])

A    a3
B    b3
C    c3
D    d3
Name: 3, dtype: object

In [ ]:
new_row_series = pd.Series(['n1','n2','n3','n4'])

In [ ]:
print(pd.concat([df1,new_row_series]))

     A    B    C    D    0
0   a0   b0   c0   d0  NaN
1   a1   b1   c1   d1  NaN
2   a2   b2   c2   d2  NaN
3   a3   b3   c3   d3  NaN
0  NaN  NaN  NaN  NaN   n1
1  NaN  NaN  NaN  NaN   n2
2  NaN  NaN  NaN  NaN   n3
3  NaN  NaN  NaN  NaN   n4

#### 행 1개로 구성된 데이터프레임 연결

In [ ]:
new_row_df = pd.DataFrame([['n1','n2','n3','n4']], columns=['A','B','C','D'])
print(new_row_df)

    A   B   C   D
0  n1  n2  n3  n4

In [ ]:
print(pd.concat([df1,new_row_df]))

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
0  n1  n2  n3  n4

In [ ]:
print(df1.append(new_row_df))

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
0  n1  n2  n3  n4

append 메서드와 딕셔너리를 사용하면 더욱 간편하게 행 연결 가능

ignore_index = True 로 설정하면 데이터를 연결한 다음 데이터프레임의 인덱스를 다시 지정함

In [ ]:
data_dict = {'A':'n1', 'B':'n2', 'C':'n3','D':'n4'}
print(df1.append(data_dict, ignore_index=True))

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
4  n1  n2  n3  n4

### 다양한 방법으로 데이터 연결

#### 인덱스 순서 재설정

In [ ]:
row_concat_i = pd.concat([df1,df2,df3], ignore_index=True)
print(row_concat_i)

      A    B    C    D
0    a0   b0   c0   d0
1    a1   b1   c1   d1
2    a2   b2   c2   d2
3    a3   b3   c3   d3
4    a4   b4   c4   d4
5    a5   b5   c5   d5
6    a6   b6   c6   d6
7    a7   b7   c7   d7
8    a8   b8   c8   d8
9    a9   b9   c9   d9
10  a10  b10  c10  d10
11  a11  b11  c11  d11

#### 열 방향으로 데이터 연결

axis =1 로 지정

In [ ]:
col_concat = pd.concat([df1,df2,df3],axis=1)
print(col_concat)

    A   B   C   D   A   B   C   D    A    B    C    D
0  a0  b0  c0  d0  a4  b4  c4  d4   a8   b8   c8   d8
1  a1  b1  c1  d1  a5  b5  c5  d5   a9   b9   c9   d9
2  a2  b2  c2  d2  a6  b6  c6  d6  a10  b10  c10  d10
3  a3  b3  c3  d3  a7  b7  c7  d7  a11  b11  c11  d11

In [ ]:
print(col_concat['A']) # 해당 열 이름의 데이터 모두 추출

    A   A    A
0  a0  a4   a8
1  a1  a5   a9
2  a2  a6  a10
3  a3  a7  a11

In [ ]:
col_concat['new_col_list'] = ['n1','n2','n3','n4']
print(col_concat)

    A   B   C   D   A   B   C   D    A    B    C    D new_col_list
0  a0  b0  c0  d0  a4  b4  c4  d4   a8   b8   c8   d8           n1
1  a1  b1  c1  d1  a5  b5  c5  d5   a9   b9   c9   d9           n2
2  a2  b2  c2  d2  a6  b6  c6  d6  a10  b10  c10  d10           n3
3  a3  b3  c3  d3  a7  b7  c7  d7  a11  b11  c11  d11           n4

#### 열 이름 재지정

ignore_index=True

In [ ]:
print(pd.concat([df1,df2,df3], axis=1, ignore_index=True))

   0   1   2   3   4   5   6   7    8    9    10   11
0  a0  b0  c0  d0  a4  b4  c4  d4   a8   b8   c8   d8
1  a1  b1  c1  d1  a5  b5  c5  d5   a9   b9   c9   d9
2  a2  b2  c2  d2  a6  b6  c6  d6  a10  b10  c10  d10
3  a3  b3  c3  d3  a7  b7  c7  d7  a11  b11  c11  d11

#### 공통 열과 공통 인덱스만 연결


join = 'inner'

In [ ]:
df1.columns=['A','B','C','D']
df2.columns=['E','F','G','H']
df3.columns=['A','C','F','H']

print(df1)
print('-'*60)
print(type(df1))

print('-'*60)
print(df2)
print('-'*60)
print(type(df2))

print('-'*60)
print(df3)
print('-'*60)
print(type(df3))

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
------------------------------------------------------------
    E   F   G   H
0  a4  b4  c4  d4
1  a5  b5  c5  d5
2  a6  b6  c6  d6
3  a7  b7  c7  d7
------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
------------------------------------------------------------
     A    C    F    H
0   a8   b8   c8   d8
1   a9   b9   c9   d9
2  a10  b10  c10  d10
3  a11  b11  c11  d11
------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>

In [ ]:
row_concat = pd.concat([df1,df2,df3])
print(row_concat)

     A    B    C    D    E    F    G    H
0   a0   b0   c0   d0  NaN  NaN  NaN  NaN
1   a1   b1   c1   d1  NaN  NaN  NaN  NaN
2   a2   b2   c2   d2  NaN  NaN  NaN  NaN
3   a3   b3   c3   d3  NaN  NaN  NaN  NaN
0  NaN  NaN  NaN  NaN   a4   b4   c4   d4
1  NaN  NaN  NaN  NaN   a5   b5   c5   d5
2  NaN  NaN  NaN  NaN   a6   b6   c6   d6
3  NaN  NaN  NaN  NaN   a7   b7   c7   d7
0   a8  NaN   b8  NaN  NaN   c8  NaN   d8
1   a9  NaN   b9  NaN  NaN   c9  NaN   d9
2  a10  NaN  b10  NaN  NaN  c10  NaN  d10
3  a11  NaN  b11  NaN  NaN  c11  NaN  d11

In [ ]:
print(pd.concat([df1,df2,df3],join='inner')) # 공통된 열이 없기 때문에 결과값으로 Empty Dataframe 이 나옴

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3]

In [ ]:
print(pd.concat([df1,df3], ignore_index=True, join='inner'))

     A    C
0   a0   c0
1   a1   c1
2   a2   c2
3   a3   c3
4   a8   b8
5   a9   b9
6  a10  b10
7  a11  b11

In [ ]:
df1.index = [0,1,2,3]
df2.index = [4,5,6,7]
df3.index = [0,2,5,7]


print(df1)

print('-'*30)

print(df2)

print('-'*30)

print(df3)

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
------------------------------
    E   F   G   H
4  a4  b4  c4  d4
5  a5  b5  c5  d5
6  a6  b6  c6  d6
7  a7  b7  c7  d7
------------------------------
     A    C    F    H
0   a8   b8   c8   d8
2   a9   b9   c9   d9
5  a10  b10  c10  d10
7  a11  b11  c11  d11

In [ ]:
col_concat = pd.concat([df1,df2,df3], axis=1)
print(col_concat)

     A    B    C    D    E    F    G    H    A    C    F    H
0   a0   b0   c0   d0  NaN  NaN  NaN  NaN   a8   b8   c8   d8
1   a1   b1   c1   d1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2   a2   b2   c2   d2  NaN  NaN  NaN  NaN   a9   b9   c9   d9
3   a3   b3   c3   d3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4  NaN  NaN  NaN  NaN   a4   b4   c4   d4  NaN  NaN  NaN  NaN
5  NaN  NaN  NaN  NaN   a5   b5   c5   d5  a10  b10  c10  d10
6  NaN  NaN  NaN  NaN   a6   b6   c6   d6  NaN  NaN  NaN  NaN
7  NaN  NaN  NaN  NaN   a7   b7   c7   d7  a11  b11  c11  d11

In [ ]:
print(pd.concat([df1,df3],axis=1,join='inner'))

    A   B   C   D   A   C   F   H
0  a0  b0  c0  d0  a8  b8  c8  d8
2  a2  b2  c2  d2  a9  b9  c9  d9

### 외부 조인과 내부 조인

      내부 조인
      - 둘 이상의 데이터 프레임에서 조건에 맞는 행을 연결하는 것


      외부 조인
      - 두 데이터프레임 중 어떤 데이터프레임을 기준으로 할 것인지에 따라 왼쪽 외부 조인과 오른쪽 외부 조인, 완전 외부 조인으로 나눌 수 있음.
      - 왼쪽 외부 조인 : 데이터프레임을 연결할 때 왼쪽 데이터프레임을 모두 포함하여 연결
      - 오른쪽 외부 조인 : 데이터프레임을 연결할 때 오른쪽 데이터프레임을 모두 포함하여 연결
      - 완전 외부 조인 : 왼쪽과 오른쪽 데이터프레임을 모두 포함하여 연결

## 5-3 데이터 연결 마무리

merge 메서드 : 데이터 연결 전용 메서드

In [ ]:
person = pd.read_csv('/content/drive/MyDrive/My_GitHub/Python_ML/Doit_Pandas_dataset/survey_person.csv')
site = pd.read_csv('/content/drive/MyDrive/My_GitHub/Python_ML/Doit_Pandas_dataset/survey_site.csv')
survey = pd.read_csv('/content/drive/MyDrive/My_GitHub/Python_ML/Doit_Pandas_dataset/survey_survey.csv')
visited = pd.read_csv('/content/drive/MyDrive/My_GitHub/Python_ML/Doit_Pandas_dataset/survey_visited.csv')

print(person)
print('-'*40)

print(site)
print('-'*40)

print(survey)
print('-'*40)

print(visited)

      ident   personal    family
0      dyer    William      Dyer
1        pb      Frank   Pabodie
2      lake   Anderson      Lake
3       roe  Valentina   Roerich
4  danforth      Frank  Danforth
----------------------------------------
    name    lat    long
0   DR-1 -49.85 -128.57
1   DR-3 -47.15 -126.72
2  MSK-4 -48.87 -123.40
----------------------------------------
    taken person quant  reading
0     619   dyer   rad     9.82
1     619   dyer   sal     0.13
2     622   dyer   rad     7.80
3     622   dyer   sal     0.09
4     734     pb   rad     8.41
5     734   lake   sal     0.05
6     734     pb  temp   -21.50
7     735     pb   rad     7.22
8     735    NaN   sal     0.06
9     735    NaN  temp   -26.00
10    751     pb   rad     4.35
11    751     pb  temp   -18.50
12    751   lake   sal     0.10
13    752   lake   rad     2.19
14    752   lake   sal     0.09
15    752   lake  temp   -16.00
16    752    roe   sal    41.60
17    837   lake   rad     1.46
18    837   lake   sal     0.21
19    837    roe   sal    22.50
20    844    roe   rad    11.25
----------------------------------------
   ident   site       dated
0    619   DR-1  1927-02-08
1    622   DR-1  1927-02-10
2    734   DR-3  1939-01-07
3    735   DR-3  1930-01-12
4    751   DR-3  1930-02-26
5    752   DR-3         NaN
6    837  MSK-4  1932-01-14
7    844   DR-1  1932-03-22

In [ ]:
visited_subset = visited.loc[[0,2,6],]

merge메서드는 기본적으로 내부 조인을 실행하며 메서드를 사용한 데이터프레임을 왼쪽으로 지정하고 첫 번째 인잣값으로 지정한 데이터프레임을 오른쪽으로 지정함

left_on, right_on 인자는 값이 일치해야 할 왼쪽과 오른쪽 데이터프레임의 열을 지정함

즉, 왼쪽 데이터프레임의 열과 오른쪽 데이터프레임의 열의 값이 일치하면 왼쪽 데이터프레임을 기준으로 연결함

추가 체크 ) left_on 과 right_on 에 전달하는 값은 여러 개라도 상관 없음

In [ ]:
print(site)

print('-'*30)

print(visited_subset)

    name    lat    long
0   DR-1 -49.85 -128.57
1   DR-3 -47.15 -126.72
2  MSK-4 -48.87 -123.40
------------------------------
   ident   site       dated
0    619   DR-1  1927-02-08
2    734   DR-3  1939-01-07
6    837  MSK-4  1932-01-14

In [ ]:
o2o_merge = site.merge(visited_subset, left_on='name', right_on='site')
print(o2o_merge)

    name    lat    long  ident   site       dated
0   DR-1 -49.85 -128.57    619   DR-1  1927-02-08
1   DR-3 -47.15 -126.72    734   DR-3  1939-01-07
2  MSK-4 -48.87 -123.40    837  MSK-4  1932-01-14

In [ ]:
m2o_merge = site.merge(visited, left_on='name', right_on='site')
print(m2o_merge)

    name    lat    long  ident   site       dated
0   DR-1 -49.85 -128.57    619   DR-1  1927-02-08
1   DR-1 -49.85 -128.57    622   DR-1  1927-02-10
2   DR-1 -49.85 -128.57    844   DR-1  1932-03-22
3   DR-3 -47.15 -126.72    734   DR-3  1939-01-07
4   DR-3 -47.15 -126.72    735   DR-3  1930-01-12
5   DR-3 -47.15 -126.72    751   DR-3  1930-02-26
6   DR-3 -47.15 -126.72    752   DR-3         NaN
7  MSK-4 -48.87 -123.40    837  MSK-4  1932-01-14

In [ ]:
ps = person.merge(survey, left_on='ident', right_on='person')
vs = visited.merge(survey, left_on='ident', right_on='taken')

print(ps)

print('-'*60)

print(vs)

   ident   personal   family  taken person quant  reading
0   dyer    William     Dyer    619   dyer   rad     9.82
1   dyer    William     Dyer    619   dyer   sal     0.13
2   dyer    William     Dyer    622   dyer   rad     7.80
3   dyer    William     Dyer    622   dyer   sal     0.09
4     pb      Frank  Pabodie    734     pb   rad     8.41
5     pb      Frank  Pabodie    734     pb  temp   -21.50
6     pb      Frank  Pabodie    735     pb   rad     7.22
7     pb      Frank  Pabodie    751     pb   rad     4.35
8     pb      Frank  Pabodie    751     pb  temp   -18.50
9   lake   Anderson     Lake    734   lake   sal     0.05
10  lake   Anderson     Lake    751   lake   sal     0.10
11  lake   Anderson     Lake    752   lake   rad     2.19
12  lake   Anderson     Lake    752   lake   sal     0.09
13  lake   Anderson     Lake    752   lake  temp   -16.00
14  lake   Anderson     Lake    837   lake   rad     1.46
15  lake   Anderson     Lake    837   lake   sal     0.21
16   roe  Valentina  Roerich    752    roe   sal    41.60
17   roe  Valentina  Roerich    837    roe   sal    22.50
18   roe  Valentina  Roerich    844    roe   rad    11.25
------------------------------------------------------------
    ident   site       dated  taken person quant  reading
0     619   DR-1  1927-02-08    619   dyer   rad     9.82
1     619   DR-1  1927-02-08    619   dyer   sal     0.13
2     622   DR-1  1927-02-10    622   dyer   rad     7.80
3     622   DR-1  1927-02-10    622   dyer   sal     0.09
4     734   DR-3  1939-01-07    734     pb   rad     8.41
5     734   DR-3  1939-01-07    734   lake   sal     0.05
6     734   DR-3  1939-01-07    734     pb  temp   -21.50
7     735   DR-3  1930-01-12    735     pb   rad     7.22
8     735   DR-3  1930-01-12    735    NaN   sal     0.06
9     735   DR-3  1930-01-12    735    NaN  temp   -26.00
10    751   DR-3  1930-02-26    751     pb   rad     4.35
11    751   DR-3  1930-02-26    751     pb  temp   -18.50
12    751   DR-3  1930-02-26    751   lake   sal     0.10
13    752   DR-3         NaN    752   lake   rad     2.19
14    752   DR-3         NaN    752   lake   sal     0.09
15    752   DR-3         NaN    752   lake  temp   -16.00
16    752   DR-3         NaN    752    roe   sal    41.60
17    837  MSK-4  1932-01-14    837   lake   rad     1.46
18    837  MSK-4  1932-01-14    837   lake   sal     0.21
19    837  MSK-4  1932-01-14    837    roe   sal    22.50
20    844   DR-1  1932-03-22    844    roe   rad    11.25

In [ ]:
ps_vs = ps.merge(vs, left_on = ['ident','taken','quant','reading'],right_on=['person','ident','quant','reading'])

In [ ]:
print(ps_vs)

   ident_x   personal   family  taken_x person_x quant  reading  ident_y  \
0     dyer    William     Dyer      619     dyer   rad     9.82      619
1     dyer    William     Dyer      619     dyer   sal     0.13      619
2     dyer    William     Dyer      622     dyer   rad     7.80      622
3     dyer    William     Dyer      622     dyer   sal     0.09      622
4       pb      Frank  Pabodie      734       pb   rad     8.41      734
5       pb      Frank  Pabodie      734       pb  temp   -21.50      734
6       pb      Frank  Pabodie      735       pb   rad     7.22      735
7       pb      Frank  Pabodie      751       pb   rad     4.35      751
8       pb      Frank  Pabodie      751       pb  temp   -18.50      751
9     lake   Anderson     Lake      734     lake   sal     0.05      734
10    lake   Anderson     Lake      751     lake   sal     0.10      751
11    lake   Anderson     Lake      752     lake   rad     2.19      752
12    lake   Anderson     Lake      752     lake   sal     0.09      752
13    lake   Anderson     Lake      752     lake  temp   -16.00      752
14    lake   Anderson     Lake      837     lake   rad     1.46      837
15    lake   Anderson     Lake      837     lake   sal     0.21      837
16     roe  Valentina  Roerich      752      roe   sal    41.60      752
17     roe  Valentina  Roerich      837      roe   sal    22.50      837
18     roe  Valentina  Roerich      844      roe   rad    11.25      844

     site       dated  taken_y person_y
0    DR-1  1927-02-08      619     dyer
1    DR-1  1927-02-08      619     dyer
2    DR-1  1927-02-10      622     dyer
3    DR-1  1927-02-10      622     dyer
4    DR-3  1939-01-07      734       pb
5    DR-3  1939-01-07      734       pb
6    DR-3  1930-01-12      735       pb
7    DR-3  1930-02-26      751       pb
8    DR-3  1930-02-26      751       pb
9    DR-3  1939-01-07      734     lake
10   DR-3  1930-02-26      751     lake
11   DR-3         NaN      752     lake
12   DR-3         NaN      752     lake
13   DR-3         NaN      752     lake
14  MSK-4  1932-01-14      837     lake
15  MSK-4  1932-01-14      837     lake
16   DR-3         NaN      752      roe
17  MSK-4  1932-01-14      837      roe
18   DR-1  1932-03-22      844      roe

## 6-1 누락값이란?

누락값(NaN)

: 0, ' '와 같은 값과 다른 개념

: 말 그대로 '데이터 자체가 없다'는 개념

: 데이터 자체가 없기 때문에 자기 자신과 비교하더라고 False가 출력됨

누락값을 파이썬에서 사용하려면 numpy라이브러리가 필요


누락값 확인하는 법

: isnull 메서드 이용

In [ ]:
from numpy import NaN,NAN,nan

In [ ]:
print(NaN==True, '-'*7, sep='\n')


print(NaN==False, '-'*7, sep='\n')


print(NaN==0,'-'*7, sep='\n')


print(NaN=='')

False
-------
False
-------
False
-------
False

In [ ]:
print(NAN ==NAN,'-'*7, sep='\n')

print(NAN ==nan,'-'*7, sep='\n')

print(NaN ==NAN,'-'*7, sep='\n')

print(nan ==NAN)

False
-------
False
-------
False
-------
False

In [ ]:
import pandas as pd

print(pd.isnull(NaN),'-'*7,sep='\n')

print(pd.isnull(NAN),'-'*7,sep='\n')

print(pd.isnull(nan))

True
-------
True
-------
True

In [ ]:
print(pd.notnull(NaN),'-'*7,sep='\n')

print(pd.notnull(42),'-'*7,sep='\n')

print(pd.notnull('missing'))

False
-------
True
-------
True

### 누락값이 생기는 이유

누락값은 처음부터 누락값이 있는 데이터를 불러오거나 데이터를 연결 입력하는 등의 과정에서 생길 수 있음


      1. 누락값이 있는 데이터 집합을 연결할 때 누락값이 생기는 경우
      → 누락값이 포함되어 있는 데이터 집합을 연결하면 더 많은 누락값이 생김

      2. 데이터를 입력할 때 누락값이 생기는 경우
      → 데이터를 잘못 입력하여 생길 수 있음
      
      3. 범위를 지정하여 데이터를 추출할 때 누락값이 생기는 경우
      → 데이터프레임에 존재하지 않는 데이터를 추출하면 누락값이 생김

1. 누락값이 있는 데이터 집합을 연결할 때 누락값이 생기는 경우

In [ ]:
print(visited,'-'*40,sep='\n')

print(survey)

   ident   site       dated
0    619   DR-1  1927-02-08
1    622   DR-1  1927-02-10
2    734   DR-3  1939-01-07
3    735   DR-3  1930-01-12
4    751   DR-3  1930-02-26
5    752   DR-3         NaN
6    837  MSK-4  1932-01-14
7    844   DR-1  1932-03-22
----------------------------------------
    taken person quant  reading
0     619   dyer   rad     9.82
1     619   dyer   sal     0.13
2     622   dyer   rad     7.80
3     622   dyer   sal     0.09
4     734     pb   rad     8.41
5     734   lake   sal     0.05
6     734     pb  temp   -21.50
7     735     pb   rad     7.22
8     735    NaN   sal     0.06
9     735    NaN  temp   -26.00
10    751     pb   rad     4.35
11    751     pb  temp   -18.50
12    751   lake   sal     0.10
13    752   lake   rad     2.19
14    752   lake   sal     0.09
15    752   lake  temp   -16.00
16    752    roe   sal    41.60
17    837   lake   rad     1.46
18    837   lake   sal     0.21
19    837    roe   sal    22.50
20    844    roe   rad    11.25

In [ ]:
vs = visited.merge(survey, left_on='ident',right_on='taken')
print(vs)

    ident   site       dated  taken person quant  reading
0     619   DR-1  1927-02-08    619   dyer   rad     9.82
1     619   DR-1  1927-02-08    619   dyer   sal     0.13
2     622   DR-1  1927-02-10    622   dyer   rad     7.80
3     622   DR-1  1927-02-10    622   dyer   sal     0.09
4     734   DR-3  1939-01-07    734     pb   rad     8.41
5     734   DR-3  1939-01-07    734   lake   sal     0.05
6     734   DR-3  1939-01-07    734     pb  temp   -21.50
7     735   DR-3  1930-01-12    735     pb   rad     7.22
8     735   DR-3  1930-01-12    735    NaN   sal     0.06
9     735   DR-3  1930-01-12    735    NaN  temp   -26.00
10    751   DR-3  1930-02-26    751     pb   rad     4.35
11    751   DR-3  1930-02-26    751     pb  temp   -18.50
12    751   DR-3  1930-02-26    751   lake   sal     0.10
13    752   DR-3         NaN    752   lake   rad     2.19
14    752   DR-3         NaN    752   lake   sal     0.09
15    752   DR-3         NaN    752   lake  temp   -16.00
16    752   DR-3         NaN    752    roe   sal    41.60
17    837  MSK-4  1932-01-14    837   lake   rad     1.46
18    837  MSK-4  1932-01-14    837   lake   sal     0.21
19    837  MSK-4  1932-01-14    837    roe   sal    22.50
20    844   DR-1  1932-03-22    844    roe   rad    11.25

2. 데이터를 입력할 때 누락값이 생기는 경우

In [ ]:
num_legs = pd.Series({'goat':4,'amoeba':nan})
print(num_legs)
print(type(num_legs))

goat      4.0
amoeba    NaN
dtype: float64
<class 'pandas.core.series.Series'>

In [ ]:
scientists = pd.DataFrame({
    'Name' : ['Rosaline Franklin','William Gosset'],
    'Occupation' : ['Chemist','Statistician'],
    'Born' : ['1920-07-25','1876-06-13'],
    'Died' : ['1958-04-16','1937-10-16'],
    'Missing' : [NaN,nan]
})

print(scientists)
print(type(scientists))

                Name    Occupation        Born        Died  Missing
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16      NaN
1     William Gosset  Statistician  1876-06-13  1937-10-16      NaN
<class 'pandas.core.frame.DataFrame'>

3. 범위를 지정하여 데이터를 추출할 때 누락값이 생기는 경우

In [ ]:
gapminder = pd.read_csv('/content/drive/MyDrive/My_GitHub/Python_ML/Doit_Pandas_dataset/gapminder.tsv', sep='\t')

In [ ]:
life_exp = gapminder.groupby(['year'])['lifeExp'].mean()
print(life_exp)

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

In [ ]:
print(life_exp.loc[range(2000,2010),]) # 책에선 열에 없던 연도를 입력하면 NaN으로 나왔음 이젠 바뀐둣

KeyError: ignored

In [ ]:
y2000 = life_exp[life_exp.index>2000]
print(y2000)

year
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

### 누락값의 개수

In [ ]:
ebola = pd.read_csv('/content/drive/MyDrive/My_GitHub/Python_ML/Doit_Pandas_dataset/country_timeseries.csv')

In [ ]:
print(ebola.count())

Date                   122
Day                    122
Cases_Guinea            93
Cases_Liberia           83
Cases_SierraLeone       87
Cases_Nigeria           38
Cases_Senegal           25
Cases_UnitedStates      18
Cases_Spain             16
Cases_Mali              12
Deaths_Guinea           92
Deaths_Liberia          81
Deaths_SierraLeone      87
Deaths_Nigeria          38
Deaths_Senegal          22
Deaths_UnitedStates     18
Deaths_Spain            16
Deaths_Mali             12
dtype: int64

In [ ]:
num_rows = ebola.shape[0]
num_missing = num_rows - ebola.count()
print(num_missing)

Date                     0
Day                      0
Cases_Guinea            29
Cases_Liberia           39
Cases_SierraLeone       35
Cases_Nigeria           84
Cases_Senegal           97
Cases_UnitedStates     104
Cases_Spain            106
Cases_Mali             110
Deaths_Guinea           30
Deaths_Liberia          41
Deaths_SierraLeone      35
Deaths_Nigeria          84
Deaths_Senegal         100
Deaths_UnitedStates    104
Deaths_Spain           106
Deaths_Mali            110
dtype: int64

In [ ]:
import numpy as np

print(np.count_nonzero(ebola.isnull()), '-'*10, sep='\n')

print(np.count_nonzero(ebola['Cases_Guinea'].isnull()))

1214
----------
29

In [ ]:
print(ebola.Cases_Guinea.value_counts(dropna=False).head())

NaN      29
86.0      3
495.0     2
112.0     2
390.0     2
Name: Cases_Guinea, dtype: int64

### 누락값 처리하기

임의의 값으로 변경, 이미 있는 값으로 대체 등으로 처리 가능

1. 누락값 변경하기 

        (1) fillna 메서드 : 인자값으로 변경

          - fillna(method='ffill') 을 통해 누락값이 나타나기 전의 값으로 누락값이 변경됨

          - fillna(method='bfill') 을 통해 누락값이 나타난 이후의 첫번째 값으로 앞쪽의 누락값이 모두 변경됨

        (2) interpolate 메서드 : 누락값 양쪽에 있는 값을 이용하여 중간값을 구한 다음 누락값을 처리, 일정한 간격을 유지하고 있는 것처럼 수정 가능

In [ ]:
print(ebola.fillna(0).iloc[0:10, 0:5])

         Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
0    1/5/2015  289        2776.0            0.0            10030.0
1    1/4/2015  288        2775.0            0.0             9780.0
2    1/3/2015  287        2769.0         8166.0             9722.0
3    1/2/2015  286           0.0         8157.0                0.0
4  12/31/2014  284        2730.0         8115.0             9633.0
5  12/28/2014  281        2706.0         8018.0             9446.0
6  12/27/2014  280        2695.0            0.0             9409.0
7  12/24/2014  277        2630.0         7977.0             9203.0
8  12/21/2014  273        2597.0            0.0             9004.0
9  12/20/2014  272        2571.0         7862.0             8939.0

In [ ]:
print(ebola.fillna(method='ffill').iloc[0:10,0:5])

         Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
0    1/5/2015  289        2776.0            NaN            10030.0
1    1/4/2015  288        2775.0            NaN             9780.0
2    1/3/2015  287        2769.0         8166.0             9722.0
3    1/2/2015  286        2769.0         8157.0             9722.0
4  12/31/2014  284        2730.0         8115.0             9633.0
5  12/28/2014  281        2706.0         8018.0             9446.0
6  12/27/2014  280        2695.0         8018.0             9409.0
7  12/24/2014  277        2630.0         7977.0             9203.0
8  12/21/2014  273        2597.0         7977.0             9004.0
9  12/20/2014  272        2571.0         7862.0             8939.0

In [ ]:
print(ebola.fillna(method='bfill').iloc[0:10,0:5])

         Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
0    1/5/2015  289        2776.0         8166.0            10030.0
1    1/4/2015  288        2775.0         8166.0             9780.0
2    1/3/2015  287        2769.0         8166.0             9722.0
3    1/2/2015  286        2730.0         8157.0             9633.0
4  12/31/2014  284        2730.0         8115.0             9633.0
5  12/28/2014  281        2706.0         8018.0             9446.0
6  12/27/2014  280        2695.0         7977.0             9409.0
7  12/24/2014  277        2630.0         7977.0             9203.0
8  12/21/2014  273        2597.0         7862.0             9004.0
9  12/20/2014  272        2571.0         7862.0             8939.0

2. 누락값 삭제하기

dropna 메서드 이용

주의 : 누락값을 무작정 삭제하면 데이터가 너무 편행되거나 데이터의 개수가 너무 적어질 수 있음

In [ ]:
print(ebola.shape)

(122, 18)

In [ ]:
ebola_dropna = ebola.dropna()
print(ebola_dropna.shape,'-'*80,sep='\n')

print(ebola_dropna)

(1, 18)
--------------------------------------------------------------------------------
          Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone  \
19  11/18/2014  241        2047.0         7082.0             6190.0

    Cases_Nigeria  Cases_Senegal  Cases_UnitedStates  Cases_Spain  Cases_Mali  \
19           20.0            1.0                 4.0          1.0         6.0

    Deaths_Guinea  Deaths_Liberia  Deaths_SierraLeone  Deaths_Nigeria  \
19         1214.0          2963.0              1267.0             8.0

    Deaths_Senegal  Deaths_UnitedStates  Deaths_Spain  Deaths_Mali
19             0.0                  1.0           0.0          6.0

### 누락값 포함 데이터 계산 예시

sum메서드의 인잣값을 skipna = True 로 설정하면 누락값을 무시한 채 계산 가능

In [ ]:
ebola['Cases_multople'] = ebola['Cases_Guinea'] + ebola['Cases_Liberia'] + ebola['Cases_SierraLeone']

In [ ]:
ebola_subset = ebola.loc[:,['Cases_Guinea', 'Cases_Liberia','Cases_SierraLeone','Cases_multople']]
print(ebola_subset.head(n=10))

   Cases_Guinea  Cases_Liberia  Cases_SierraLeone  Cases_multople
0        2776.0            NaN            10030.0             NaN
1        2775.0            NaN             9780.0             NaN
2        2769.0         8166.0             9722.0         20657.0
3           NaN         8157.0                NaN             NaN
4        2730.0         8115.0             9633.0         20478.0
5        2706.0         8018.0             9446.0         20170.0
6        2695.0            NaN             9409.0             NaN
7        2630.0         7977.0             9203.0         19810.0
8        2597.0            NaN             9004.0             NaN
9        2571.0         7862.0             8939.0         19372.0

In [ ]:
print(ebola.Cases_Guinea.sum(skipna=True),'-'*10, sep='\n')
print(ebola.Cases_Guinea.sum(skipna=False))

84729.0
----------
nan

## 7-1 열과 피벗

넓은 데이터 : 데이터프레임의 열이 옆으로 길게 늘어선 형태

melt 메서드 : 지정한 열의 데이터를 모두 행으로 정리해줌 

        melt 메서드의 인자

        id_vars : 위치를 그대로 유지할 열의 이름을 지정함

        value_vars : 행으로 위치를 변경할 열의 이름을 지정함

        var_name : value_vars로 위치를 변경한 열의 이름을 지정함

        value_name : var_name으로 위치를 변경한 열의 데이터를 저장한 열의 이름을 지정함

1. 1 개의 열만 고정하고 나머지 열의 행으로 바꾸기

In [ ]:
import pandas as pd
pew = pd.read_csv('/content/drive/MyDrive/My_GitHub/Python_ML/Doit_Pandas_dataset/pew.csv')
print(pew.head())

             religion  <$10k  $10-20k  $20-30k  $30-40k  $40-50k  $50-75k  \
0            Agnostic     27       34       60       81       76      137
1             Atheist     12       27       37       52       35       70
2            Buddhist     27       21       30       34       33       58
3            Catholic    418      617      732      670      638     1116
4  Don’t know/refused     15       14       15       11       10       35

   $75-100k  $100-150k  >150k  Don't know/refused
0       122        109     84                  96
1        73         59     74                  76
2        62         39     53                  54
3       949        792    633                1489
4        21         17     18                 116

In [ ]:
print(pew.iloc[:, 0:6])

                   religion  <$10k  $10-20k  $20-30k  $30-40k  $40-50k
0                  Agnostic     27       34       60       81       76
1                   Atheist     12       27       37       52       35
2                  Buddhist     27       21       30       34       33
3                  Catholic    418      617      732      670      638
4        Don’t know/refused     15       14       15       11       10
5          Evangelical Prot    575      869     1064      982      881
6                     Hindu      1        9        7        9       11
7   Historically Black Prot    228      244      236      238      197
8         Jehovah's Witness     20       27       24       24       21
9                    Jewish     19       19       25       25       30
10            Mainline Prot    289      495      619      655      651
11                   Mormon     29       40       48       51       56
12                   Muslim      6        7        9       10        9
13                 Orthodox     13       17       23       32       32
14          Other Christian      9        7       11       13       13
15             Other Faiths     20       33       40       46       49
16    Other World Religions      5        2        3        4        2
17             Unaffiliated    217      299      374      365      341

In [ ]:
pew_long = pd.melt(pew, id_vars='religion')
print(pew_long.head())

             religion variable  value
0            Agnostic    <$10k     27
1             Atheist    <$10k     12
2            Buddhist    <$10k     27
3            Catholic    <$10k    418
4  Don’t know/refused    <$10k     15

In [ ]:
pew_long = pd.melt(pew, id_vars='religion', var_name = 'income', value_name='count')
print(pew_long.head())

             religion income  count
0            Agnostic  <$10k     27
1             Atheist  <$10k     12
2            Buddhist  <$10k     27
3            Catholic  <$10k    418
4  Don’t know/refused  <$10k     15

2. 2개 이상의 열을 고정하고 나머지 열을 행으로 바꾸기

In [ ]:
billboard = pd.read_csv('/content/drive/MyDrive/My_GitHub/Python_ML/Doit_Pandas_dataset/billboard.csv')
print(billboard.head())

   year        artist                    track  time date.entered  wk1   wk2  \
0  2000         2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26   87  82.0
1  2000       2Ge+her  The Hardest Part Of ...  3:15   2000-09-02   91  87.0
2  2000  3 Doors Down               Kryptonite  3:53   2000-04-08   81  70.0
3  2000  3 Doors Down                    Loser  4:24   2000-10-21   76  76.0
4  2000      504 Boyz            Wobble Wobble  3:35   2000-04-15   57  34.0

    wk3   wk4   wk5  ...  wk67  wk68  wk69  wk70  wk71  wk72  wk73  wk74  \
0  72.0  77.0  87.0  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
1  92.0   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2  68.0  67.0  66.0  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
3  72.0  69.0  67.0  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
4  25.0  17.0  17.0  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

   wk75  wk76
0   NaN   NaN
1   NaN   NaN
2   NaN   NaN
3   NaN   NaN
4   NaN   NaN

[5 rows x 81 columns]

In [ ]:
billboard_long = pd.melt(billboard, id_vars = ['year','artist','track','time','date.entered'], 
                         var_name='week',value_name='rating')
print(billboard_long)

       year            artist                    track  time date.entered  \
0      2000             2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26
1      2000           2Ge+her  The Hardest Part Of ...  3:15   2000-09-02
2      2000      3 Doors Down               Kryptonite  3:53   2000-04-08
3      2000      3 Doors Down                    Loser  4:24   2000-10-21
4      2000          504 Boyz            Wobble Wobble  3:35   2000-04-15
...     ...               ...                      ...   ...          ...
24087  2000       Yankee Grey     Another Nine Minutes  3:10   2000-04-29
24088  2000  Yearwood, Trisha          Real Live Woman  3:55   2000-04-01
24089  2000   Ying Yang Twins  Whistle While You Tw...  4:19   2000-03-18
24090  2000     Zombie Nation            Kernkraft 400  3:30   2000-09-02
24091  2000   matchbox twenty                     Bent  4:12   2000-04-29

       week  rating
0       wk1    87.0
1       wk1    91.0
2       wk1    81.0
3       wk1    76.0
4       wk1    57.0
...     ...     ...
24087  wk76     NaN
24088  wk76     NaN
24089  wk76     NaN
24090  wk76     NaN
24091  wk76     NaN

[24092 rows x 7 columns]

## 7-2 열 이름 관리하기

하나의 열이 여러 의미를 가지고 있는 경우

split 메서드 

: 기본적으로 공백을 기준으로 문자열을 자름

In [ ]:
print(ebola.columns, '-'*90, sep='\n')

print(ebola.iloc[:5, [0,1,2,3,10,11]])

Index(['Date', 'Day', 'Cases_Guinea', 'Cases_Liberia', 'Cases_SierraLeone',
       'Cases_Nigeria', 'Cases_Senegal', 'Cases_UnitedStates', 'Cases_Spain',
       'Cases_Mali', 'Deaths_Guinea', 'Deaths_Liberia', 'Deaths_SierraLeone',
       'Deaths_Nigeria', 'Deaths_Senegal', 'Deaths_UnitedStates',
       'Deaths_Spain', 'Deaths_Mali', 'Cases_multople'],
      dtype='object')
------------------------------------------------------------------------------------------
         Date  Day  Cases_Guinea  Cases_Liberia  Deaths_Guinea  Deaths_Liberia
0    1/5/2015  289        2776.0            NaN         1786.0             NaN
1    1/4/2015  288        2775.0            NaN         1781.0             NaN
2    1/3/2015  287        2769.0         8166.0         1767.0          3496.0
3    1/2/2015  286           NaN         8157.0            NaN          3496.0
4  12/31/2014  284        2730.0         8115.0         1739.0          3471.0

In [ ]:
ebola_long = pd.melt(ebola, id_vars=['Date','Day'])

print(ebola_long)

            Date  Day        variable   value
0       1/5/2015  289    Cases_Guinea  2776.0
1       1/4/2015  288    Cases_Guinea  2775.0
2       1/3/2015  287    Cases_Guinea  2769.0
3       1/2/2015  286    Cases_Guinea     NaN
4     12/31/2014  284    Cases_Guinea  2730.0
...          ...  ...             ...     ...
2069   3/27/2014    5  Cases_multople   117.0
2070   3/26/2014    4  Cases_multople     NaN
2071   3/25/2014    3  Cases_multople     NaN
2072   3/24/2014    2  Cases_multople     NaN
2073   3/22/2014    0  Cases_multople     NaN

[2074 rows x 4 columns]

In [ ]:
variable_split = ebola_long.variable.str.split('_')

print(variable_split) # 발병(죽음과 같은 상태) + 나라 이름

0         [Cases, Guinea]
1         [Cases, Guinea]
2         [Cases, Guinea]
3         [Cases, Guinea]
4         [Cases, Guinea]
              ...
2069    [Cases, multople]
2070    [Cases, multople]
2071    [Cases, multople]
2072    [Cases, multople]
2073    [Cases, multople]
Name: variable, Length: 2074, dtype: object

In [ ]:
print(type(variable_split),'-'*40 , sep='\n')

print(type(variable_split[0]))

<class 'pandas.core.series.Series'>
----------------------------------------
<class 'list'>

get 메서드 

: 인덱스의 데이터를 한 번에 추출

In [ ]:
status_values = variable_split.str.get(0)
country_values = variable_split.str.get(1)

print(status_values[:5],'-'*40, sep='\n')

print(status_values[-5: ],'-'*40, sep='\n')

print(country_values[:5],'-'*40, sep='\n')

print(country_values[-5:],'-'*40, sep='\n')

0    Cases
1    Cases
2    Cases
3    Cases
4    Cases
Name: variable, dtype: object
----------------------------------------
2069    Cases
2070    Cases
2071    Cases
2072    Cases
2073    Cases
Name: variable, dtype: object
----------------------------------------
0    Guinea
1    Guinea
2    Guinea
3    Guinea
4    Guinea
Name: variable, dtype: object
----------------------------------------
2069    multople
2070    multople
2071    multople
2072    multople
2073    multople
Name: variable, dtype: object
----------------------------------------

In [ ]:
ebola_long['status'] = status_values
ebola_long['country'] = country_values

print(ebola_long.head())

         Date  Day      variable   value status country
0    1/5/2015  289  Cases_Guinea  2776.0  Cases  Guinea
1    1/4/2015  288  Cases_Guinea  2775.0  Cases  Guinea
2    1/3/2015  287  Cases_Guinea  2769.0  Cases  Guinea
3    1/2/2015  286  Cases_Guinea     NaN  Cases  Guinea
4  12/31/2014  284  Cases_Guinea  2730.0  Cases  Guinea

### concat 메서드로 데이터프레임에 열 추가

concat 메서드를 활용하면 split 메서드로 분리한 데이터를 바로 데이터프레임에 추가 가능

In [ ]:
variable_split = ebola_long.variable.str.split('_', expand=True)
variable_split.columns = ['status','country']
ebola_parsed = pd.concat([ebola_long, variable_split], axis =1 )
print(ebola_parsed.head())

         Date  Day      variable   value status country status country
0    1/5/2015  289  Cases_Guinea  2776.0  Cases  Guinea  Cases  Guinea
1    1/4/2015  288  Cases_Guinea  2775.0  Cases  Guinea  Cases  Guinea
2    1/3/2015  287  Cases_Guinea  2769.0  Cases  Guinea  Cases  Guinea
3    1/2/2015  286  Cases_Guinea     NaN  Cases  Guinea  Cases  Guinea
4  12/31/2014  284  Cases_Guinea  2730.0  Cases  Guinea  Cases  Guinea

## 여러 열을 하나로 정리하기

### melt 메서드

In [ ]:
weather = pd.read_csv('/content/drive/MyDrive/My_GitHub/Python_ML/Doit_Pandas_dataset/weather.csv')
print(weather.iloc[:5,:])

        id  year  month element  d1    d2    d3  d4    d5  d6  ...  d22   d23  \
0  MX17004  2010      1    tmax NaN   NaN   NaN NaN   NaN NaN  ...  NaN   NaN
1  MX17004  2010      1    tmin NaN   NaN   NaN NaN   NaN NaN  ...  NaN   NaN
2  MX17004  2010      2    tmax NaN  27.3  24.1 NaN   NaN NaN  ...  NaN  29.9
3  MX17004  2010      2    tmin NaN  14.4  14.4 NaN   NaN NaN  ...  NaN  10.7
4  MX17004  2010      3    tmax NaN   NaN   NaN NaN  32.1 NaN  ...  NaN   NaN

   d24  d25  d26  d27  d28  d29   d30  d31
0  NaN  NaN  NaN  NaN  NaN  NaN  27.8  NaN
1  NaN  NaN  NaN  NaN  NaN  NaN  14.5  NaN
2  NaN  NaN  NaN  NaN  NaN  NaN   NaN  NaN
3  NaN  NaN  NaN  NaN  NaN  NaN   NaN  NaN
4  NaN  NaN  NaN  NaN  NaN  NaN   NaN  NaN

[5 rows x 35 columns]

In [ ]:
weather_melt = pd.melt(weather, id_vars =['id','year','month','element'], var_name='day', value_name ='temp')
print(weather_melt.head())

        id  year  month element day  temp
0  MX17004  2010      1    tmax  d1   NaN
1  MX17004  2010      1    tmin  d1   NaN
2  MX17004  2010      2    tmax  d1   NaN
3  MX17004  2010      2    tmin  d1   NaN
4  MX17004  2010      3    tmax  d1   NaN

### pivot_table 메서드 

: 행과 열의 위치를 다시 바꿔 정리

    index 인자에는 위치를 그대로 유지할 열 이름 지정, 

    columns 인자에는 피벗할 열 이름을 지정, 

    values 인자에는 새로운 열의 데이터가 될 열 이름 지정

In [ ]:
weather_tidy = weather_melt.pivot_table(
    index = ['id','year','month','day'],
    columns = 'element',
    values = 'temp',
    dropna=False
)

print(weather_tidy.head())

element                 tmax  tmin
id      year month day
MX17004 2010 1     d1    NaN   NaN
                   d10   NaN   NaN
                   d11   NaN   NaN
                   d12   NaN   NaN
                   d13   NaN   NaN

### reset_index 메서드

: 데이터프레임의 인덱스를 새로 지정

In [ ]:
weather_tidy_flat = weather_tidy.reset_index()

print(weather_tidy_flat.head())

element       id  year  month  day  tmax  tmin
0        MX17004  2010      1   d1   NaN   NaN
1        MX17004  2010      1  d10   NaN   NaN
2        MX17004  2010      1  d11   NaN   NaN
3        MX17004  2010      1  d12   NaN   NaN
4        MX17004  2010      1  d13   NaN   NaN

## 7-4 중복 데이터 처리하기

In [ ]:
print(billboard_long.shape)

(24092, 7)

In [ ]:
print(billboard_long.head())

   year        artist                    track  time date.entered week  rating
0  2000         2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk1    87.0
1  2000       2Ge+her  The Hardest Part Of ...  3:15   2000-09-02  wk1    91.0
2  2000  3 Doors Down               Kryptonite  3:53   2000-04-08  wk1    81.0
3  2000  3 Doors Down                    Loser  4:24   2000-10-21  wk1    76.0
4  2000      504 Boyz            Wobble Wobble  3:35   2000-04-15  wk1    57.0

In [ ]:
print(billboard_long[billboard_long['track']=='Loser'].head())

      year        artist  track  time date.entered week  rating
3     2000  3 Doors Down  Loser  4:24   2000-10-21  wk1    76.0
320   2000  3 Doors Down  Loser  4:24   2000-10-21  wk2    76.0
637   2000  3 Doors Down  Loser  4:24   2000-10-21  wk3    72.0
954   2000  3 Doors Down  Loser  4:24   2000-10-21  wk4    69.0
1271  2000  3 Doors Down  Loser  4:24   2000-10-21  wk5    67.0

가수는 고유한 값이기 때문에 따로 관리하는 것이 데이터의 일관성을 유지하는 데 더 도움이 됨

In [ ]:
billboard_songs = billboard_long[['year','artist','track','time']]

print(billboard_songs.shape)

(24092, 4)

In [ ]:
billboard_songs = billboard_songs.drop_duplicates()
print(billboard_songs.shape)

(317, 4)

In [ ]:
billboard_songs['id'] = range(len(billboard_songs))
print(billboard_songs.head())

   year        artist                    track  time  id
0  2000         2 Pac  Baby Don't Cry (Keep...  4:22   0
1  2000       2Ge+her  The Hardest Part Of ...  3:15   1
2  2000  3 Doors Down               Kryptonite  3:53   2
3  2000  3 Doors Down                    Loser  4:24   3
4  2000      504 Boyz            Wobble Wobble  3:35   4

In [ ]:
billboard_ratings = billboard_long.merge(billboard_songs, on = ['year','artist','track','time'])
print(billboard_ratings.shape)
print(billboard_ratings.head())

(24092, 8)
   year artist                    track  time date.entered week  rating  id
0  2000  2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk1    87.0   0
1  2000  2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk2    82.0   0
2  2000  2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk3    72.0   0
3  2000  2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk4    77.0   0
4  2000  2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk5    87.0   0

## 7-5 대용량 데이터 처리하기

데이터를 나누어 처리하면 용량이 작아져 데이터를 저장하거나 다른 사람에게 공유할때 유용함

In [ ]:
import os 
import urllib.request

with open('/content/drive/MyDrive/My_GitHub/Python_ML/Doit_Pandas_dataset/raw_data_urls.txt', 'r') as data_urls:
    for line, url in enumerate(data_urls):
        if line==5:
            break
        fn = url.split('/')[-1].strip()
        fp = os.path.join('','/content/drive/MyDrive/My_GitHub/Python_ML/Doit_Pandas_dataset',fn)
        print(url)
        print(fp)
        urllib.request.urlretrieve(url,fp)

In [ ]:
import glob
nyc_taxi_data = glob.glob('/Doit_Pandas_dataset/fhv_*')
print(nyc_taxi_data)

In [ ]:
taxi1 = pd.read_csv(nyc_taxi_data[0])
taxi2 = pd.read_csv(nyc_taxi_data[1])
taxi3 = pd.read_csv(nyc_taxi_data[2])
taxi4 = pd.read_csv(nyc_taxi_data[3])
taxi5 = pd.read_csv(nyc_taxi_data[4])

In [ ]:
print(taxi1.head(2))
print(taxi2.head(2))
print(taxi3.head(2))
print(taxi4.head(2))
print(taxi5.head(2))

In [ ]:
print(taxi1.shape)
print(taxi2.shape)
print(taxi3.shape)
print(taxi4.shape)
print(taxi5.shape)

In [ ]:
taxi = pd.concat([taxi1,taxi2,taxi3,taxi4,taxi5])
print(taxi.shape)

### 반복문으로 데이터 준비하기

In [ ]:
list_taxi_df=[]
for csv_filename in nyc_taxi_data:
    df = pd.read_csv(csv_filename)
    list_taxi_df.append(df)

print(len(list_taxi_df))

print(type(list_taxi_df[0]))

print(list_taxi_df[0].head())

taxi_loop_concat = pd.concat(list_taxi_df)
print(taxi_loop_concat.shape)
print(taxi.equals(taxi_loop_concat))

## 8-1 자료형 다루기

### 자료형 변환하기 

자료형 변환 

: 데이터 분석 과정에서 반드시 알아야 하는 요소 중 하나

#### astype 메서드

In [ ]:
import pandas as pd
import seaborn as sns

tips = sns.load_dataset('tips')

In [ ]:
tips['sex_str'] = tips['sex'].astype(str)

In [ ]:
print(tips.dtypes)

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
sex_str         object
dtype: object

#### to_numeric 메서드

to_numeric 메서드의 

errors 인자를 통해서 오류를 어느 정도 제어 가능

downcast인자를 통해서 정수, 실수와 같은 자료형을 더 작은 형태로 만들 때 사용 


    (1) errors 인자에 설정할 수 있는 값
    - raise : 숫자로 변환할 수 없는 값이 있으면 오류 발생
    - coerce : 숫자로 변환할 수 없는 값을 누락값으로 지정
    - ignore : 아무 작업도 하지 않음

    (2) downcast인자
    - 사용할 수 있는 값 : integer, signed, unsigned, float등

In [ ]:
tips_sub_miss = tips.head(10)
tips_sub_miss.loc[[1,3,5,7],'total_bill'] = 'missing'
print(tips_sub_miss)

  total_bill   tip     sex smoker  day    time  size sex_str
0      16.99  1.01  Female     No  Sun  Dinner     2  Female
1    missing  1.66    Male     No  Sun  Dinner     3    Male
2      21.01  3.50    Male     No  Sun  Dinner     3    Male
3    missing  3.31    Male     No  Sun  Dinner     2    Male
4      24.59  3.61  Female     No  Sun  Dinner     4  Female
5    missing  4.71    Male     No  Sun  Dinner     4    Male
6       8.77  2.00    Male     No  Sun  Dinner     2    Male
7    missing  3.12    Male     No  Sun  Dinner     4    Male
8      15.04  1.96    Male     No  Sun  Dinner     2    Male
9      14.78  3.23    Male     No  Sun  Dinner     2    Male

/usr/local/lib/python3.8/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [ ]:
print(tips_sub_miss.dtypes)

total_bill      object
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
sex_str         object
dtype: object

In [ ]:
tips_sub_miss['total_bill'].astype(float) # 문자열을 실수로 변환 불가라 에러 발생

ValueError: ignored

In [ ]:
pd.to_numeric(tips_sub_miss['total_bill']) # 위와 같은 오류 발생

ValueError: ignored

In [ ]:
tips_sub_miss['total_bill'] = pd.to_numeric(tips_sub_miss['total_bill'], errors='ignore')
print(tips_sub_miss.dtypes)

total_bill      object
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
sex_str         object
dtype: object

<ipython-input-130-5881133b5e1e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tips_sub_miss['total_bill'] = pd.to_numeric(tips_sub_miss['total_bill'], errors='ignore')

In [ ]:
tips_sub_miss['total_bill'] = pd.to_numeric(tips_sub_miss['total_bill'], errors='coerce')
print(tips_sub_miss.dtypes)

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
sex_str         object
dtype: object

<ipython-input-131-a6c80958f59d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tips_sub_miss['total_bill'] = pd.to_numeric(tips_sub_miss['total_bill'], errors='coerce')

In [ ]:
tips_sub_miss['total_bill'] = pd.to_numeric(tips_sub_miss['total_bill'], errors='coerce', downcast='float')
print(tips_sub_miss.dtypes)

total_bill     float32
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
sex_str         object
dtype: object

<ipython-input-132-edb91e91a891>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tips_sub_miss['total_bill'] = pd.to_numeric(tips_sub_miss['total_bill'], errors='coerce', downcast='float')

## 8-2 카테고리 자료형

카테고리 자료형의 장점과 특징

    - 용량과 속도 면에서 매우 효율적임
    - 주로 동일한 문자열이 반복되어 데이터를 구성하는 경우에 사용함

### 문자열을 카테고리로 변환하기

In [ ]:
tips['sex'] = tips['sex'].astype('str')
print(tips.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    object
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
 7   sex_str     244 non-null    object
dtypes: category(3), float64(2), int64(1), object(2)
memory usage: 10.8+ KB
None

In [ ]:
tips['sex'] = tips['sex'].astype('category')
print(tips.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
 7   sex_str     244 non-null    object
dtypes: category(4), float64(2), int64(1), object(1)
memory usage: 9.3+ KB
None